

<section class="container contributors">
    <h2>Contributors</h2>
    <div class="row">
        <a href="#" class="col-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://avatars.githubusercontent.com/u/530406?v=3" alt="Card image">
                <div class="card-overlay">
                    <span>Very Long Nome Utente</span>
                </div>
            </div>
        </a>
    </div>
</section>