{% extends 'base.html.twig' %}

{% block body %}

    <a href="https://github.com/PUGX/badge-poser">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
    </a>

    <div class="container">
        <h1 class="text-center">Badge Poser</h1>
        <h2 class="text-center">Pimp your README for PHP packages.</h2>

        <div class="text-center">
            <a href="https://packagist.org/packages/pugx/badge-poser">
                <img src="https://poser.pugx.org/pugx/badge-poser/version">
            </a>

            <a href="https://packagist.org/packages/pugx/badge-poser">
                <img src="https://poser.pugx.org/pugx/badge-poser/license">
            </a>
        </div>

        <h3 class="text-center">Be a poser!</h3>
        <p class="text-center">Use shields with your composer PHP repository, info and stats like how many times your project has been downloaded or its latest stable version, are taken from packagist. Enjoy. </p>
    </div>

    <section class="container search text-center">
        <h3 class="text-center">Show the markdown for your Badges</h3>
        <select style="width:80%"></select>
    </section>

    <section class="results container" id="badges">

        <button class="btn btn-primary" type="button">Copy</button>


        <button id="change">UPDATE</button>

        <h2>
            Badges for <span id="package-name">phpunit/phpunit</span>

            <a title="Permalink for phpunit/phpunit" href="#badges">¶</a>
        </h2>

        <div class="badge-list">
            <img class="badge" data-badge="badge-stable-version" src="https://poser.pugx.org/phpunit/phpunit/version">
            <img class="badge" data-badge="badge-total-download" src="https://poser.pugx.org/phpunit/phpunit/downloads">
            <img class="badge" data-badge="badge-unstable-version" src="https://poser.pugx.org/phpunit/phpunit/v/unstable">
            <img class="badge" data-badge="badge-license" src="https://poser.pugx.org/phpunit/phpunit/license">
            <img class="badge" data-badge="badge-composer-lock" src="https://poser.pugx.org/phpunit/phpunit/composerlock">

            <button id="all-badges" data-clipboard-text="[![Latest Stable Version](https://poser.pugx.org/phpunit/phpunit/version)](https://packagist.org/packages/phpunit/phpunit) [![Latest Unstable Version](https://poser.pugx.org/phpunit/phpunit/v/unstable)](//packagist.org/packages/phpunit/phpunit) [![Total Downloads](https://poser.pugx.org/phpunit/phpunit/downloads)](https://packagist.org/packages/phpunit/phpunit) [![composer.lock available](https://poser.pugx.org/phpunit/phpunit/composerlock)](https://packagist.org/packages/phpunit/phpunit)">Copy</button>
        </div>
        <hr>

        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <h4>Latest Stable Version</h4>
                    <img class="badge" data-badge="badge-stable-version" src="https://poser.pugx.org/phpunit/phpunit/version">

                    <input
                        class="badge-input"
                        data-badge="badge-stable-version"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-stable-version']">Copy</button>

                    <h4>Latest Unstable Version</h4>
                    <img class="badge" data-badge="badge-unstable-version" src="https://poser.pugx.org/phpunit/phpunit/version">
                    <input
                        class="badge-input"
                        data-badge="badge-unstable-version"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-unstable-version']">Copy</button>

                    <h4>License</h4>
                    <img class="badge" data-badge="badge-license" src="https://poser.pugx.org/phpunit/phpunit/version">
                    <input
                        class="badge-input"
                        data-badge="badge-license"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-license']">Copy</button>

                    <h4>Composer.lock available</h4>
                    <img class="badge" data-badge="badge-composer-lock" src="https://poser.pugx.org/phpunit/phpunit/version">
                    <input
                        class="badge-input"
                        data-badge="badge-composer-lock"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-composer-lock']">Copy</button>
                </div>

                <div class="col-sm">
                    <h4>Total downloads</h4>

                    <img class="badge" data-badge="badge-total-download" src="https://poser.pugx.org/phpunit/phpunit/version">
                    <input
                        class="badge-input"
                        data-badge="badge-total-download"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-total-download']">Copy</button>

                    <h4>Monthly downloads</h4>
                    <img class="badge" data-badge="badge-monthly-download" src="https://poser.pugx.org/phpunit/phpunit/version">
                    <input
                        class="badge-input"
                        data-badge="badge-monthly-download"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-monthly-download']">Copy</button>

                    <h4>Daily downloads</h4>
                    <img class="badge" data-badge="badge-daily-download" src="https://poser.pugx.org/phpunit/phpunit/version">
                    <input
                        class="badge-input"
                        data-badge="badge-daily-download"
                        readonly
                        type="text"
                        value="">
                    <button data-clipboard-target=".badge-input[data-badge='badge-daily-download']">Copy</button>
                </div>
            </div>
    </section>

    {% include 'home/contributors.html.twig' %}

    <section class="container-fluid footer">

    </section>

{% endblock %}

{% block javascripts %}{% endblock %}
