@import "_bootstrap-variables";
@import "bootstrap";

body{
    background-color: #eee;
    &,html{
        font-family: 'Roboto', sans-serif;
    }
}

.contributors{
    .card-overlay{
        position: absolute;
        bottom:0;
        color: #fff;
        text-align: center;
        width:100%;
        background-color: rgba(0, 0, 0, .6);
        display: flex;
        align-content: center;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, .1);
        span{
            margin: .4em 0;
        }
    }
    a{
        margin-top: 1.5em;
        transition: margin .1s ease-in-out, box-shadow .2s ease-in-out;
        .card{
            overflow: hidden;
            border: none;
        }
        &:hover{
            margin-top:1.3em;
            .card{
                box-shadow: 0px 0px 12px -6px #000;
            }
        }
    }
}


section{
    border-top: 1px solid #ddd;
    padding: 2em 0 1em;
}

section.footer{
}


.tooltip {
    position: absolute;
    background: #FFC107;
    color: black;
    width: 80px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 6px;
    text-align: center;
    margin-bottom: 5px;
}

.tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    margin: 5px;
    border-color: #FFC107;
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
}